
.inputContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px 0;
    /* border: 1px solid red; */
}

.input {
    width: 100%;
    padding: .5rem;
    border: 1px solid black;
    outline: none;

}

.inputLabel {
    font-size: 14px;
    padding: 10px 0;

}